.error {
    color: red;
}

.item {
    max-width: 400px;
}

li input {
    flex: 1;
}

li button {
    flex: 1;
}

li  span {
    flex: 3;
}

.flexItem {
    display: flex;
    flex-direction: row;
}

.flexItem input {
    flex: 1;
}

.flexItem button {
    flex: 1;
}

.flexItem span {
    flex: 5;
}

